nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav ul{
    display: flex;
    align-items: center;
}
ul{

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin-top:51px;
    margin-left: 226px;
}



/* Shared style */
.text-primary{
    color: #FD6E0A;
    text-align: center;
}
.dark-1{
    font-weight: bold;
    color: #181818;
}
.dark-2{
    color: #474747; 

}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    padding: 18px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}





nav ul li{
    list-style: none;
    margin-right: 27px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-contact{
    color: #FD6E0A;
    padding: 18px 25px;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;margin-left: 30px;
    cursor: pointer;
}
.banner-content{
    margin-top: 297px;
    margin-left: 184px;
    height: 356px;
    width: 585px;
}

/* banner style */
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;

}
body div img{
    height: 676px;
    width: 584px;
    margin-right: 36px;
    margin-top: 161px;
}

.banner{
    display: flex;
    justify-content: space-between;
}

/* header */
.header{
    background-image: url('../images/developer.png'),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    border-radius: 10px;
    padding: 131px 157px;
    text-align: center;
    margin-top: 131px;
}
.wtf{
    background-color: white;
}
.item-description{
    font-weight: bold;
    font-size: 20px;
}
.info{
    display: flex;
    justify-content: space-evenly;
}


body{
    background-color: #F3F3F3;
}

/* skills */
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 50%);
    
}

.skills-container img {
    margin: 0;
    display: inline-block;  /*It will keep the image inline,but no other content can come in it's width*/
    margin-left: auto;
    margin-right: auto;
    height: 44px;
    width: 44px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
/* Columns of resume */
.columnsmother{
    display:flex;
    gap: 24px;
}
.sub-sec{
    border-bottom: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    box-shadow: 1px 1px 10px;
}

/* Button */
.downloadCV{
    background-color: #FD6E0A;
    color: white;
    padding: 64px 200px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    
}

a{
    text-decoration: none;
    color: white;
}

.afoot img{
    margin: 0;
    display: inline-block;  /*It will keep the image inline,but no other content can come in it's width*/
    margin-left: auto;
    margin-right: auto;
    height: 44px;
    width: 44px;

}
.foot{
    display: flex;
    padding: 130px 386px 230px 0px;
    justify-content: center;
    text-align: center;
    gap: 34px;
    
}
.afoot{
    max-width: 562px;
}

.afoot input[type="text"], .afoot input[type="email"],.afoot textarea{
    width: 461px;
    height: 64px;
    border: none;
    margin-bottom: 24px;
    padding: 10px 20px;

}